@tailwind base;
@tailwind components;
@tailwind utilities;

.mono {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Amiri Quran", serif;
}

.text-font-anonym {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Anonymous Pro", monospace;
}

.height-w-nav {
  height: calc(100% - 64px);
}

.bg-amber-200 {
  background-color: blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .container {
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}

.grid-container {
  display: grid;
  column-gap: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: [first] auto [line2] 200px [line3] 200px [col4-start] auto [end];
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */

.glass {
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.custom-shape-divider-bottom-1663835133 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663835133 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 123px;
}

.custom-shape-divider-bottom-1663835133 .shape-fill {
  /* fill: rgb(153 246 228 / var(--tw-bg-opacity)); */
  fill: rgb(28, 50, 80);
}

.custom-shape-divider-top-1667056953 {
  position: absolute;
  top: calc(100% * 2);
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667056953 svg {
  position: relative;
  display: block;
  width: calc(186% + 1.3px);
  height: 68px;
}

.custom-shape-divider-top-1667056953 .shape-fill {
  /* fill: #861657; */
  fill: #00cc99;
}

.custom-shape-divider-top-1667149805 {
  position: absolute;
  top: calc(100% * 4);
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667149805 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1667149805 .shape-fill {
  fill: #009443;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer4 {
  background-image: url("./img/layer8.svg");
}

.layer3 {
  background-size: 100% 100%;
  background-image: url("./img/layer7.svg");
}

.layer2 {
  /* filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(10px) saturate(100%); */
  background-size: 100% 100%;
  background-image: url("./img/layer6.svg");
}

.layer1 {
  background-image: url("./img/layer4.svg");
}

.fuchsia {
  background-color: rgb(198, 35, 104);
}

.wrap {
  border-right: 0.1em solid #666;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    visibility: visible;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.me {
  border-radius: 30% 70% 56% 44% / 30% 33% 67% 70%;
  background: rgb(169, 67, 214);
  background: linear-gradient(
    17deg,
    rgba(169, 67, 214, 1) 0%,
    rgba(20, 20, 166, 1) 41%,
    rgba(233, 0, 255, 1) 100%
  );
  z-index: 5;
}

.about_page {
  /* background: linear-gradient(180deg, rgb(153 246 228 / var(--tw-bg-opacity)) 40%, rgba(233,0,255,1) 100%);  */
  /* background: linear-gradient(180deg, rgb(28, 50, 80) 40%, #861657 100%);  */
  background: linear-gradient(180deg, rgb(28, 50, 80) 3%, #00cc99 100%);
}

.zz {
  z-index: 10;
  height: 90px;
}

.shapedividers_com-7647 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-7647::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 141% 100px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2224 79"><g fill="%23001220"><path d="M1294 36a292 292 0 01-33 43H601a413 413 0 01-18-43 18 18 0 010-6 24 24 0 017-13 29 29 0 0113-8c12-3 25 0 36 5l11 6a159 159 0 0017 6l6 2a62 62 0 0017 2 63 63 0 0010-1 65 65 0 0014-4 61 61 0 0010-6c8-6 16-14 26-14 9 0 17 7 24 12l6 4a93 93 0 0014 7 102 102 0 0057 5 97 97 0 0021-7 90 90 0 0015-8c6-5 12-10 18-13s14-6 22-4c6 1 11 7 12 13 1-6 6-12 12-13 7-2 15 0 21 4l18 13a94 94 0 0035 15 53 53 0 005 1 103 103 0 0014 1 103 103 0 0022-2 94 94 0 0037-16l8-5c5-4 11-7 17-7 5 0 10 3 15 6l10 8a64 64 0 0037 11 52 52 0 006 0 61 61 0 008-2 78 78 0 009-2l25-12c12-5 24-8 36-5a29 29 0 0112 7c6 5 9 12 8 20z" style="isolation:isolate" opacity=".5"/><path d="M1460 52l-2 2a91 91 0 01-21 25H815a91 91 0 01-18-20 76 76 0 01-4-7c-4-8-3-17 1-24a33 33 0 0114-14 40 40 0 0113-3c11-2 22 1 32 5a173 173 0 0119 10l7 4 15 8a132 132 0 0021 9 141 141 0 0046 6 138 138 0 0059-16l7-4c10-6 20-13 31-18 13-7 28-11 42-8a37 37 0 0111 5c8 5 15 14 15 25 0-11 7-21 17-26a36 36 0 019-4c15-3 29 1 42 8l19 11 13 7 6 4a137 137 0 0052 15 142 142 0 0029 0 138 138 0 0030-7 133 133 0 0016-7l18-10 10-6a137 137 0 0119-8c13-4 26-5 38 0a33 33 0 0116 17l1 2a24 24 0 01-1 19z" style="isolation:isolate" opacity=".6"/><path d="M659 40l-4 9c-5 8-14 18-25 30H0V37a97 97 0 0038 0 89 89 0 0036-14l17-13c6-4 13-5 20-3 6 1 11 6 11 12 1-6 6-11 12-12 7-2 14 0 20 3s11 9 17 13a83 83 0 0010 6 93 93 0 0043 10 93 93 0 0043-10 83 83 0 0010-6l17-13c6-4 13-5 20-3 6 1 11 6 11 12 1-6 6-11 12-12 6-2 14 0 20 3s11 9 17 13a89 89 0 0036 14c24 5 50 0 70-15 6-4 13-10 20-11a18 18 0 013 0c7 0 13 5 19 9l5 4a61 61 0 0048 9 73 73 0 008-3l16-7 8-4a55 55 0 0134-4 27 27 0 019 5 25 25 0 018 10 18 18 0 011 10z" style="isolation:isolate" opacity=".5"/><path d="M852 46a21 21 0 01-2 6 91 91 0 01-23 27H0V15c13 6 24 15 37 22h1l9 5a139 139 0 0022 7 139 139 0 0024 3 138 138 0 0015 1 139 139 0 0048-11 130 130 0 0025-13l23-13a74 74 0 0120-5 74 74 0 0120 5l23 13 17 9 8 4a139 139 0 0047 11 138 138 0 0016-1 139 139 0 0046-11l9-4h1c12-7 24-16 37-22s28-11 42-8a36 36 0 0110 4c8 5 14 13 16 21a23 23 0 010 5 23 23 0 011-4 28 28 0 015-13 37 37 0 0121-13c14-3 29 1 42 8a124 124 0 0114 8l23 14a132 132 0 0017 7 138 138 0 0016 5c29 7 61 4 89-8l5-3 31-17 9-5c10-4 22-7 32-6a40 40 0 0113 4 33 33 0 0117 19 26 26 0 011 13z" style="isolation:isolate" opacity=".6"/><path d="M0 38a12 12 0 010 4 12 12 0 010-4zM2049 38a16 16 0 010 2 417 417 0 01-30 39h-622l-12-26a57 57 0 01-4-13 17 17 0 010-7 23 23 0 016-11 27 27 0 0113-7 33 33 0 016-1c10-1 19 2 27 5l27 12a47 47 0 005 2 60 60 0 0048-9c8-6 15-13 24-13a22 22 0 0111 3l13 8 3 3a83 83 0 009 5 89 89 0 0013 5 95 95 0 0068-5 85 85 0 0013-7l17-13c6-4 13-5 20-3 5 1 10 6 11 12 1-6 6-11 12-12 6-2 14 0 20 3s11 9 17 13a89 89 0 0032 14 96 96 0 0053-4l7-3a85 85 0 0014-8l10-7c4-2 8-4 13-4s9 2 13 5l11 8a60 60 0 0048 9 78 78 0 0012-4c7-3 13-7 20-9 11-5 22-8 34-5 10 2 19 12 18 23z" style="isolation:isolate" opacity=".5"/><path d="M0 42a12 12 0 010-4 12 12 0 010 4zM2224 34v45H1039v-1l-1 1H345v-1l-1 1H0V53a65 65 0 0015-5 64 64 0 0042 5 83 83 0 0012-4l14-7 8-3c9-4 19-7 28-7 10 0 20 3 29 7l8 3 26 11a64 64 0 0042-5 64 64 0 0042 5l26-11 8-3c11-5 24-9 36-5a29 29 0 0111 6 29 29 0 0112-6c12-4 24 0 36 5l6 2c9 5 18 9 28 12a64 64 0 0051-10c8-5 16-13 25-13a23 23 0 0111 2l1 1 13 9c18 12 40 18 61 17a97 97 0 0048-15l4-2 15-12h1l2-1a40 40 0 016-3c5-1 10-2 15-1a18 18 0 018 5 15 15 0 014 8 15 15 0 016-9 17 17 0 016-4 22 22 0 018 0 34 34 0 0114 4c6 3 11 8 16 12l2 1a97 97 0 0051 17 99 99 0 0055-13l7-4c6-5 12-10 20-12a19 19 0 014 0c10 0 18 8 26 13a62 62 0 006 4 65 65 0 0045 6l1-1c11-3 22-9 33-13 10-5 21-8 31-6h5v1a28 28 0 019 4 28 28 0 015-3 27 27 0 013-2 42 42 0 0119 0 81 81 0 0117 6c11 4 22 11 34 14a64 64 0 0051-10c7-5 14-11 22-13a19 19 0 014 0 18 18 0 012 0 28 28 0 0112 4l10 8 7 4a99 99 0 0053 13 100 100 0 0036-7 92 92 0 0017-10l2-1c5-4 10-9 16-12 7-4 14-6 22-4a18 18 0 0110 8 14 14 0 012 5c1-6 6-11 12-13 7-2 15 0 21 4l18 13 4 2a92 92 0 0020 10c30 10 64 6 89-12l13-9 1-1a23 23 0 0111-2 7 7 0 011 0c5 0 9 2 13 5l11 8a64 64 0 0051 10l28-11 6-3c11-5 23-8 34-6 11-2 23 1 34 6l19 9a90 90 0 0015 5 64 64 0 0051-10l14-10a27 27 0 017-3 20 20 0 014 0c10-1 18 6 25 12l7 4 4 2a100 100 0 00104-7c5-4 10-9 16-12 7-4 14-6 21-4 6 2 11 7 12 13a3 3 0 001 0c0-6 6-11 12-13 7-2 15 0 21 4l18 13 4 2c32 21 77 20 109-2l10-8z"/><path d="M1896 48a22 22 0 01-2 4 91 91 0 01-22 27h-622a91 91 0 01-23-27 21 21 0 01-2-6 26 26 0 011-13 33 33 0 0117-19c13-6 29-4 43 2h2c14 6 26 16 40 22a141 141 0 0015 7 140 140 0 0042 8 141 141 0 0053-9 131 131 0 0017-7 202 202 0 008-5l29-17c13-7 28-11 42-8a37 37 0 0114 7c6 5 11 11 12 19a24 24 0 011 4 23 23 0 010-5 26 26 0 013-7c4-9 13-15 23-18 14-3 29 1 42 8 9 4 17 10 25 15l12 7 10 5a137 137 0 0020 6 142 142 0 0042 5 140 140 0 0031-5 133 133 0 0024-10l3-1c13-7 25-15 38-21 14-6 30-8 44-2l2 1a33 33 0 0114 15 26 26 0 012 18z" style="isolation:isolate" opacity=".6"/><path d="M2224 25v54h-307a91 91 0 01-23-27 21 21 0 01-2-6 27 27 0 012-16 33 33 0 0112-14 28 28 0 014-2c14-6 30-4 44 2l23 12 18 10 5 3a138 138 0 0042 11 142 142 0 0063-8 131 131 0 0017-7c12-7 24-16 37-22s28-11 42-8c10 2 19 9 23 18z" style="isolation:isolate" opacity=".6"/></g></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-7647::before {
    background-size: 141% calc(2vw + 100px);
  }
}

.card {
  width: 400px;
  height: 200px;
  background: rgb(145, 62, 62);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}

.card:hover {
  transform: scale(0.9);
}

.card:hover:after {
  height: 600px;
}

.card:hover .con-text p {
  margin-bottom: 0px;
  opacity: 1;
}

.card:hover img {
  transform: scale(1.25);
}

.card:hover .ul {
  transform: translate(0);
  opacity: 1;
}

.card:after {
  width: 100%;
  content: "";
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 20;
  transition: all 0.25s ease;
}

.card img {
  object-fit: cover;
  z-index: 10;
  transition: all 0.25s ease;
}

.card .con-text {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 20px;
}

.card .con-text h2 {
  font-size: 2rem;
  padding-bottom: 30px;
  transition: all 0.25s ease;
}

.card:hover .con-text h2 {
  font-size: 1rem;
  padding-bottom: 0px;
  transition: all 0.25s ease;
}

.card .con-text p {
  font-size: 0.7rem;
  opacity: 0;
  margin-top: 70px;
  margin-bottom: -170px;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card .con-text p button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: poppins;
  font-size: 0.75rem;
  outline: none;
}

.card .con-text p button:hover {
  background: #fff;
  color: #000;
}

.ul {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 40;
  border-radius: 14px;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  top: 0px;
  opacity: 0;
  transform: translate(100%);
  transition: all 0.25s ease;
}

.ul li {
  font-size: 0.8rem;
  background: #fff;
  list-style: none;
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}

.ul-li-last-child {
  border-radius: 0px 0px 6px 6px;
}

.ul-li-first-child {
  border-radius: 6px 6px 0px 0px;
}

.ul li:hover {
  opacity: 1;
  transform: translate(-7px, -4px);
}

.ul li i {
  font-size: 1.4rem;
  color: #000;
}
